# Lists Exercises

**Exercise:** 1. Create a list of 5 fruits. Access the 2nd and last items, then change the 3rd item to 'grape'.

In [ ]:
# Write your solution here

**Exercise:** 2. Append a new fruit to the list and remove one by value. Print the updated list.

In [ ]:
# Write your solution here

**Exercise:** 3. Iterate through the list and print each fruit in uppercase.

In [ ]:
# Write your solution here

**Exercise:** 4. Sort the list alphabetically and then reverse it.

In [ ]:
# Write your solution here

**Exercise:** 5. Debugging: Try to access index 10 of the list. Catch the error.

In [ ]:
# Write your solution here

# Tuples Exercises

**Exercise:** 1. Create a tuple of (latitude, longitude). Access each element.

In [ ]:
# Write your solution here

**Exercise:** 2. Unpack the tuple into two variables and print them.

In [ ]:
# Write your solution here

**Exercise:** 3. Demonstrate that tuples are immutable by attempting to change one element. Catch the error.

In [ ]:
# Write your solution here

**Exercise:** 4. Create a function that returns two values. Call it and unpack into variables.

In [ ]:
# Write your solution here

**Exercise:** 5. Use a tuple as a dictionary key. Explain why it works.

In [ ]:
# Write your solution here

# Sets Exercises

**Exercise:** 1. Create a set with duplicates. Print it and observe what happens.

In [ ]:
# Write your solution here

**Exercise:** 2. Add a new element to the set. Remove an existing element.

In [ ]:
# Write your solution here

**Exercise:** 3. Test membership: check if 'banana' is in the set.

In [ ]:
# Write your solution here

**Exercise:** 4. Perform set operations: union, intersection, difference on two sets.

In [ ]:
# Write your solution here

**Exercise:** 5. Iterate through the set and print elements one by one.

In [ ]:
# Write your solution here

# Dictionaries Exercises

**Exercise:** 1. Create a dictionary for a student with keys name, age, major. Access values by key.

In [ ]:
# Write your solution here

**Exercise:** 2. Add a new key-value pair (GPA). Modify the age value.

In [ ]:
# Write your solution here

**Exercise:** 3. Use `.get()` to safely access a key that does not exist.

In [ ]:
# Write your solution here

**Exercise:** 4. Iterate through keys and values using `.items()`.

In [ ]:
# Write your solution here

**Exercise:** 5. Print just the keys and just the values of the dictionary.

In [ ]:
# Write your solution here

# Strings Exercises

**Exercise:** 1. Create a string ' hello world '. Strip whitespace and print result.

In [ ]:
# Write your solution here

**Exercise:** 2. Access the 2nd and last character of the string.

In [ ]:
# Write your solution here

**Exercise:** 3. Split a sentence into words and print the list.

In [ ]:
# Write your solution here

**Exercise:** 4. Iterate through characters of a string and count vowels.

In [ ]:
# Write your solution here

**Exercise:** 5. Replace all spaces with underscores in a string.

In [ ]:
# Write your solution here

# Iteration Tools Exercises

**Exercise:** 1. Use `range()` to print numbers 1 to 10.

In [ ]:
# Write your solution here

**Exercise:** 2. Use `enumerate()` on a list of colors to print index and value.

In [ ]:
# Write your solution here

**Exercise:** 3. Use `zip()` to combine names and scores into pairs.

In [ ]:
# Write your solution here

**Exercise:** 4. Create two lists of numbers and use `zip()` to add corresponding elements.

In [ ]:
# Write your solution here

**Exercise:** 5. Debugging: Call `zip()` on lists of unequal length. Observe output.

In [ ]:
# Write your solution here